# IGRA


Download data from the **Integrated Global Radiosonde Archive (IGRA)**: https://www.ncdc.noaa.gov/data-access/weather-balloon/integrated-global-radiosonde-archive

In [1]:
from pansat.products.stations import igra

## Per station

In [2]:
# create product instance for station location (finds closest station to [lat,lon])
radiosounding = igra.IGRASoundings(station=[35,105])

Please enter your pansat user password:
········

In [6]:
# have a look at the meta data from the station 
radiosounding.station

              ID     lat     lon       n      name  start   end    nr
553  CHM00057006  34.583  105.75  1143.0  TIANSHUI   1973  1987  6899

In [7]:
# have a look at the meta data from all stations 
radiosounding.locs

,ID,lat,lon,n,name,start,end,nr
0,ACM00078861,17.1170,-61.7830,10.0,COOLIDGE FIELD (UA),1947,1993,13896
1,AEM00041217,24.4333,54.6500,16.0,ABU DHABI INTERNATIONAL AIRPOR,1983,2020,37511
2,AEXUAE05467,25.2500,55.3700,4.0,SHARJAH,1935,1942,2477
3,AFM00040911,36.7000,67.2000,378.0,MAZAR-I-SHARIF,2010,2014,2179
4,AFM00040913,36.6667,68.9167,433.0,KUNDUZ,2010,2013,4540
...,...,...,...,...,...,...,...,...
2783,ZZXUAICE022,-98.8888,-998.8888,-998.8,NP22,1974,1982,2862
2784,ZZXUAICE026,-98.8888,-998.8888,-998.8,NP26,1983,1986,824
2785,ZZXUAICE028,-98.8888,-998.8888,-998.8,NP28,1986,1988,915
2786,ZZXUAICE030,-98.8888,-998.8888,-998.8,NP30,1988,1990,576
2787,ZZXUAICE031,-98.8888,-998.8888,-998.8,NP31,1989,1991,717

In [8]:
# download all data for station by name 
radiosounding = igra.IGRASoundings('ABU DHABI INTERNATIONAL AIRPOR')
file = radiosounding.download()

## Per variable (monthly, all stations)

In [2]:
radiosounding = igra.IGRASoundings(variable = 'vapr')

Please enter your pansat user password:
········

In [3]:
# download only recent month
radiosounding.download()

['IGRA/igra-soundings/vapr_00z-mly.txt.zip',
 'IGRA/igra-soundings/vapr_12z-mly.txt.zip']

## Open and plot data